* {
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    color: black;
    text-align: center;
}

h1 {
    font-family: 'Overpass', sans-serif;
}

nav,
footer {
    padding: 1% 0;
    background-color: #1C304A;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#top-name {
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    display: block;
    padding: 12px 14px;
}

.social-links {
    color: white;
    float: right;
    display: block;
    text-align: center;
    padding: 12px 14px;
}

.social-links:hover {
    opacity: .5;
}

header {
    padding: 12% 0;
    padding-bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    background-color: #ddd
}

section {
    min-height: 200px;
    padding: 1% 0;
    background-color: #ddd;
}


.thumbLinks:hover {
    border-radius: 5px;
    animation-duration: 0.3s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.bio {
    padding: 5px 15px;
}

.myPhoto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 50%;
    height: auto;
}

.thumbLinks {
    max-width: 50%;
    height: auto;
}

.projects {
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #1C304A;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.projects a {
    text-decoration: none;
}

h4 {
    color: black;
}

.repo-link, .github-link {
    color: #A02B0E;
}

.repo-link:hover, .github-link:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: white;
}

.header-center {
    padding-left: 40px;
    padding-right: 40px;
    text-align:center;
    text-transform:uppercase;
    font-weight:100;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
  }
  
.header-center:after,.header-center:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #1C304A;
  }


@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        text-align: left;
    }

     .myPhoto {
        max-width: 100%;
        height: auto;
     }

    .social-links {
        color: white;
        float: right;
        display: block;
        text-align: center;
        padding: 12px 14px;    
    }
}

@media screen and (min-width: 900px) {
    #container-center {
        display: flex;
    }

    .projects {
        width: 33.33%;
        margin-left: 0 0;
        padding: 0;
    }
}